@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

/* BASIC ADJUSTMENTS */

html {
  --MAIN-COLOR: rgb(96, 108, 56);
  --BACKGROUND-COLOR: rgb(254, 250, 224);
  --FIRST-ADDITIONAL-COLOR: rgb(40, 54, 24);
  --ATTENTION-COLOR: rgb(148, 170, 77);

  --BOX-SHADOW: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body {
  font-family: "Roboto", sans-serif;

  background: var(--BACKGROUND-COLOR);
  background-size: 10rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */

.header_top {
  height: 6.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Satisfy";
  font-size: 2rem;

  color: var(--BACKGROUND-COLOR);
  background-image: url("../icons/guitar.png"),
    radial-gradient(var(--MAIN-COLOR), var(--FIRST-ADDITIONAL-COLOR));
  background-position: center;
}

/* NAVBAR */

header {
  position: sticky;
  top: 0;
}

.header_top {
  position: relative;
}

header,
.header_top {
  z-index: 10;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem;

  background-color: var(--BACKGROUND-COLOR);
  box-shadow: var(--BOX-SHADOW);
}

nav div {
  flex-basis: 33%;
  display: flex;
  gap: 1rem;
}

nav .nav_menu-btn {
  width: 2.5rem;
  height: 2.5rem;

  background-image: url("../icons/menu.svg");
  background-size: contain;

  transition: 300ms;
}

nav .nav_menu-btn:is(:hover, :focus) {
  transform: scale(1.1);
  transition: 300ms;
}

nav div:nth-child(2) {
  justify-content: center;
}

nav div:nth-child(3) {
  justify-content: flex-end;
}

nav input {
  width: 100%;

  padding: 0.5rem 1rem 0.5rem 2.5rem;

  color: var(--MAIN-COLOR);
  background-color: transparent;
  background: url("../icons/search.svg#star") 0.5rem no-repeat;
  background-size: 1.5rem;

  border: 2px solid var(--MAIN-COLOR);
  border-radius: 2rem;
}

/* BUTTONS */

.btn {
  padding: 0.25rem 0.5rem;
  border: 0.125rem solid transparent;
  border-radius: 0.5rem;

  font-size: 1.5rem;
  text-decoration: none;
  color: var(--MAIN-COLOR);

  transition: 150ms;
}

.btn-main {
  border: 0.125rem solid var(--MAIN-COLOR);
}

.btn-main:is(:hover, :focus) {
  background-color: var(--MAIN-COLOR);
  color: var(--BACKGROUND-COLOR);

  transition: 150ms;
}

.btn-secondary:is(:hover, :focus) {
  border: 0.125rem solid var(--MAIN-COLOR);
}

/* MAIN */

main {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}

main::before {
  width: 100%;
  height: 100%;
  content: "";
  background: url("../icons/guitar.png") center;
  background-size: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
}

.main-wrapper {
  width: 64rem;
  z-index: 1;
}

.grid-section {
  display: grid;
  grid-template: auto / repeat(12, 1fr);
  gap: 20px;
}

.grid-section > h1 {
  grid-area: 1 / 5 / 1 / 9;

  text-align: center;
  font-weight: 200;
}

.grid-section > h1::before,
.grid-section > h1::after {
  content: "-";
}

/*   HERO */

.hero {
  width: min(64rem, 100%);
  height: 35rem;
  position: relative;

  transition: 300ms;
}

.hero::before {
  height: 93.75rem;
  content: "";
  background: url("../images/heroguitar.png") center no-repeat;
  background-size: 60rem;
  transform: rotateZ(-55deg);

  position: absolute;
  top: -600px;
  left: 0;
  right: -300px;
  bottom: 0;

  pointer-events: none;

  transition: 300ms;
}

.hero > div:nth-child(1) {
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 28.125rem;

  background-image: linear-gradient(
    to right,
    rgb(254, 250, 224),
    rgb(241, 153, 87)
  );
  box-shadow: var(--BOX-SHADOW);
  border-bottom: 0.125rem solid rgb(112, 47, 27);

  transition: all 300ms;
}

.hero > div h1 {
  color: rgb(102, 45, 25);
  font-family: Satisfy;
  font-size: 4rem;
}

.hero > div p {
  color: rgb(184, 107, 80);
  width: 30rem;
}

.hero > div a {
  font-size: 3rem;
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: rgb(112, 47, 27);
  transition: 300ms;
  background-color: rgba(182, 129, 77, 0.5);
}

.hero > div a:hover {
  transform: scale(101%);
  background-color: rgba(182, 129, 77, 0.8);
  transition: 300ms;
}

/* MAIN-CARDS */

.card {
  width: 100%;

  grid-row: 2;
  grid-column: span 3;

  padding: 1rem;

  border-radius: 0.5rem;

  background-color: var(--BACKGROUND-COLOR);
  box-shadow: var(--BOX-SHADOW);
}

.card > div {
  display: flex;
  flex-direction: column;
}

.card > div:nth-child(1) {
  padding-bottom: 0.5rem;

  border-bottom: 2px solid var(--MAIN-COLOR);
}

.card > div:nth-child(2) {
  padding-top: 0.5rem;
}

.card > div:nth-child(2) > var {
  transform: skew(9deg);
}

.card > div:nth-child(2) > var:nth-child(2) {
  color: rgb(15, 208, 0);
}

.star-rating {
  --stars: 5;
  --rating: 3;

  position: absolute;
  bottom: 50px;
  left: 160px;
  width: calc(10px * var(--stars));
  height: 10px;

  background-image: url("../icons/star-empty.png");
  background-size: 10px 10px;
  background-repeat: repeat-x;

  position: relative;
}
.star-rating::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(10px * var(--rating));
  height: 100%;
  background-image: url("../icons/star-full.png");
  background-size: 10px 10px;
  background-repeat: repeat-x;
}

/* MEDIA */

@media screen and (min-width: 64rem) {
  .hero {
    margin-top: 1rem;
    width: 64rem;
  }

  .hero > div:nth-child(1) {
    border: 2px solid rgb(112, 47, 27);
    border-radius: 8px;
  }
}

/* TEMP */
